{% extends "webpage_design/base.html" %}
    {% load static from staticfiles %}
    {% block content %}
  

        
    <div class="container">
      <h1 class="my-4">Destinations
        <small>Sikkim & West Bengal</small>
      </h1>
      
       <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'images/gangtok_opt.jpg' %}" alt="Restraunt Image here">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Gangtok</h3>
          <p>Jewel of the north east</p>
          <a class="btn btn-primary" href="#">Go</a>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'images/darjeeling_opt.jpg' %}" alt="Restraunt Image here">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Darjeeling</h3>
          <p>Queen of the hills.</p>
          <a class="btn btn-primary" href="#">Go</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'images/singtam_opt.jpg' %}" alt="Restraunt Image here">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Singtam</h3>
          <p>Rivers.</p>
          <a class="btn btn-primary" href="#">Go</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'images/rangpo_opt.jpg' %}" alt="Restraunt Image here">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Rangpo</h3>
          <p>Dominoes??</p>
          <a class="btn btn-primary" href="#">Go</a>
        </div>
      </div>
      <hr>
    <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'images/siliguri_opt.jpg' %}" alt="Restraunt Image here">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Silliguri</h3>
          <p>NJP and Bagdogra included</p>
          <a class="btn btn-primary" href="#">Go</a>
        </div>
      </div>
      
      <hr>
      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'images/namchi_opt.jpg' %}" alt="Restraunt Image here">
          </a>
        </div>
        <div class="col-md-6">
          <h3>Namchi</h3>
          <p>There is a big aquarium out here.</p>
          <a class="btn btn-primary" href="#">Go</a>
        </div>
      </div>
      <hr>
    {% endblock content %}
